h1 {
    color: white;
    background: rgb(247, 49, 82);
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url(/fondo1.jpg);
}

h2 {
    color: rgb(247, 49, 82);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 3%;
}

table {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

td {
    margin-left: 10%;
}

.imagen {
    float: right;
}